<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  </head>

  <body >

    <header>
      <div class="container">
        <h1 class="logo">The Box</h1>
      </div>
    </header>

    <section>
      <p class="section-head">Description</p>
      <p>
        <i>The Box</i> is the project which gather information from the IoT, process and use them for sending smart notifications.
      </p>
    </section>

    <section>
      <p class="section-head">Demos</p>
      <p>
          <a href="{{ url_for('key_strokes') }}">Key Strokes</a>
      </p>
    </section>

  </body>
</html>
